{
  "singleQuote": false,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "endOfLine": "crlf",
  "printWidth": 80,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
      }
    }
  ]
}
